@import "../../../styles/_variables";

.CommentInput {
    &:not(:last-child) {
        border-bottom: 1px solid var(--c-border);
    }
}

.GiphyPane {
    padding: 1rem;
}

.stretch {
    width: 100%;

    .btn-small {
        font-weight: bold;
        letter-spacing: 1px;
        color: $c-gray;
        text-transform: uppercase;
        text-decoration: none;
    }
}
