@import "../../styles/_variables";

.card {
    @extend %corners;

    a {
        //color: var(--c-text);
    }

    h2 {
        @extend %bold;
        color: var(--c-title);
        font-size: 1.25rem;
        margin: 0;
    }

    .card-content {
        padding: $gap-card;
    }

    .btn-add {
        @extend %rounded;
        @extend %bold;
        @extend %uppercase;
        background: $c-main;
        color: var(--c-lightest);
        border: 0;
        -webkit-appearance: none;
        padding: 0.5rem 1rem;
        cursor: pointer;
        font-size: 0.813rem;
        margin-top: 1rem;
    }

    &.center {
        text-align: center;

        h2 {
            @extend %title;
            font-size: 1.8rem;
            margin: 0;
        }
    }

    > div:nth-child(2) {
        flex-grow: 1;
    }
}

.grid-products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: $gap;
    align-items: stretch;
    margin-top: $gap;

    .stretchCard,
    .stretchCard > div,
    .ProductCard,
    .CreateIconCard,
    .CreateIconCard > div {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        justify-content: space-between;
        margin-bottom: 0;
    }

    .card.CreateIconCard {
        background: var(--c-border);
        cursor: pointer;
        font-size: 1.2rem;

        .card-content {
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

@media (max-width: $breakpoint-tablet) {
    .grid-products {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: $breakpoint-mobile) {
    .grid-products {
        grid-template-columns: repeat(1, 1fr);
    }
}

.ProductIconPicker {
    height: 150px;
    background-color: var(--c-bg-light);
    color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
