@import "../../../../../../styles/_variables";

.ProductCard {
    margin-bottom: 0;

    .card-content {
        display: flex;
        line-height: 1.3;

        h2 {
            margin: 0;
            font-family: $font;

            span {
                @extend %corners;
                display: inline-block;
                background: var(--c-bg-light);
                font-size: 0.75rem;
                line-height: 1;
                font-weight: normal;
                margin-left: 4px;
                padding: 2px 4px 2px 0;

                .emoji {
                    padding-right: 1px;
                }
            }
        }

        img {
            @extend %corners;
            width: 48px;
            height: 48px;
            display: block;
            min-width: 48px;
            margin-right: 1rem;
        }
    }

    button {
        @extend %rounded;
        font-size: 0.75rem;
        -webkit-appearance: none;
        align-items: center;
        display: inline-flex;
        height: 2.25em;
        line-height: 1.5;
        position: relative;
        vertical-align: top;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background: var(--c-lightest);
        border: 1px solid var(--c-border);
        color: var(--c-text);
        cursor: pointer;
        justify-content: center;
        padding: calc(0.375em - 1px) 1em;
        text-align: center;
        white-space: nowrap;
    }

    footer {
        display: flex;
        align-items: stretch;
        border-top: 1px solid var(--c-border);
        padding: 0;

        > div {
            padding: 0.8rem;
        }

        > div:first-of-type {
            border-right: 1px solid var(--c-border);
            display: inline-flex;
            align-items: center;
            flex-grow: 1;
            padding-left: 1.5rem;
        }
    }
}
