@import "../../../../styles/_variables";

.TaskQueue {
    .help {
        margin-top: 10px;
    }

    .attachment-panel {
        background: var(--c-bg);
        border: 1px solid var(--c-border);
        margin-top: 1rem;
        padding: 10px;
        background-size: cover;
        background-position: center;
        height: 150px;
        position: relative;
        .delete {
            position: absolute;
            right: 10px;
            top: 10px;
        }

        &.dyn-height {
            height: auto !important;
        }
    }

    header {
        padding-top: 1rem;

        button {
            @extend %transition;
            border-radius: 100px;
            font-size: 14px;
            color: #979797;
            background-color: white;

            .emoji {
                font-size: 11px;
                margin-right: 5px;
            }

            &.is-active {
                color: #636363;
                background-color: rgba(0, 0, 0, 0.08);
            }

            &:first-of-type {
                //padding-left: 0px;
            }

            &:active {
                transition: transform 0.1s ease;
                transform: scale(0.8);
                //color: #636363;
                //background-color: rgba(0, 0, 0, 0.1);
            }
        }
    }

    footer {
        background: rgba(149, 171, 177, 0.1);
        height: 0;
        overflow: hidden;
        transition: height 0.3s ease;
        padding: 0 1.5rem;
        display: flex;
        align-items: center;
    }

    &.is-active {
        footer {
            height: 50px;
        }

        input {
            border-radius: 0;
        }
    }

    .controls {
        // padding-left: 0.5rem;
    }

    .input-container input {
        padding: 0 1.5rem 1.5rem;
        font-size: 20px;
        background: var(--c-lightest);
        border: none;
        width: 100%;
        color: var(--c-text);
        @extend %corners;
    }

    .task-input-list {
        display: flex;
        flex-direction: column;
    }

    .task-input {
        display: flex;
        flex-direction: row;
        align-items: center;
        // padding: 1rem;
        padding-top: 1rem;
        position: relative;
        opacity: 0.5;

        transition: opacity 0.3s ease;

        &.active {
            opacity: 1;
        }

        &:first-of-type {
            padding-top: 0px;
        }

        .help {
            position: absolute;
            bottom: 0px;
            color: lightgray;
            left: calc(1rem + 25px);
        }
        & > div.check-case {
            display: flex;
            flex-direction: row;
            align-items: center;
            cursor: pointer;

            div {
                border-radius: 50%;
                height: 19px;
                width: 19px;
                display: flex;
                justify-content: center;
                align-items: center;

                &.done {
                    background: $c-main;
                }

                &.remaining,
                &.in-progress {
                    background-color: $c-in-progress;
                }
            }

            svg {
                height: 1.3rem;
                width: 1.3rem;
            }

            &.in-progress svg {
                @extend %round;
                animation: pulse 2s infinite;
                box-shadow: 0 0 5px #f4a324;
                z-index: 100;
            }
        }

        & > div.input {
            width: 100%;
            > input {
                color: var(--c-title);
                //padding: 1.5rem;
                padding-left: 0.6rem;
                padding-top: 0px;
                font-size: 20px;
                // @extend %worksans;
                background: var(--c-lightest);
                border: none;
                width: 100%;
                @extend %corners;
                height: 100%;
            }
        }
    }
}
