@import "../../styles/_variables";

.AboutPage {
    .hero {
        .container {
            grid-template-columns: repeat(1, auto);
        }

        h2 {
            font-size: 1.5rem;
            margin: 0;
            line-height: 1;
        }

        h3 {
            font-size: 1.25rem;
            font-weight: normal;
            margin: 0;
        }
    }

    section.container {
        .flex.card.shadow {
            padding: $gap-card;
            margin-bottom: 0;
        }

        .img-64 {
            margin-right: $gap-card;
            display: block;
        }

        .tabs li.is-active a,
        .flex a {
            border-color: $c-secondary;
            color: $c-secondary;
        }

        .flex a {
            font-size: 0.688rem;
            letter-spacing: 1px;
            margin: 0 1rem 0 0;
            text-transform: uppercase;
            display: inline-flex;
            justify-content: center;
            align-items: center;

            svg {
                height: 1.2rem;
                width: 1.2rem;
                padding: 3px 6px 4px 0;
            }
        }

        .card-content {
            h2 {
                font-size: 1.7rem;
            }

            h3 {
                font-size: 1.4rem;
            }

            ol,
            ul {
                padding: 1rem;

                ol,
                ul {
                    padding: 1rem 1rem 1rem 2.3rem;

                    li {
                        padding-bottom: 0;
                    }
                }

                ul {
                    list-style-type: disc;
                }
            }
        }
    }
}
