@import "../../../../styles/_variables";

.ListView {
    padding-top: $gap;

    .message-container {
        padding: 20px;
    }

    .Sidebar {
        .ProductStats {
            padding: 10px;
        }

        strong {
            color: var(--c-title);
        }
    }

    .help {
        font-size: 0.75rem;
    }

    .Tasks {
        > .card {
            margin-top: $gap/2;

            .btn-small {
                margin: 0 6px 10px 0;
            }
        }
    }

    .ProductLink,
    .Tag {
        padding: 20px;
        cursor: pointer;
        transition: all 0.2s ease;
        line-height: 1.3;

        &:first-child {
            border-top-left-radius: $rounded-corner;
            border-top-right-radius: $rounded-corner;
        }

        &.Tag {
            padding: 15px !important;
            font-weight: bold;

            &.active {
                background-color: $c-secondary;
                color: var(--c-lightest);
            }
        }

        &:hover,
        &.active {
            background-color: $c-card-header;
        }

        img {
            @extend %corners;
            display: block;
        }
    }
}

.CheckableTask {
    display: flex;
    align-items: center;
    flex-direction: row;
    min-height: 27px;
    margin-bottom: 5px;

    .main-control {
        flex: 2;
    }

    &:hover > .controls {
        display: block;
    }

    .controls {
        display: none;
        opacity: 0.8;
    }

    /* Base for label styling */
    .checkbox-custom:not(:checked),
    .checkbox-custom:checked {
        position: absolute;
        left: -9999px;
    }

    .checkbox-custom + label:before {
        transition: all 0.3s ease;
    }

    .checkbox-custom:checked + label:before {
        border-color: #53af87 !important;
        background-color: #53af87 !important;
    }

    .checkbox-custom.in-progress + label:before {
        border-color: rgb(255, 188, 63) !important;
        background-color: rgb(255, 188, 63) !important;
        animation: pulse 2s infinite;
    }

    .checkbox-custom:not(:checked) + label,
    .checkbox-custom:checked + label {
        position: relative;
        padding-left: 1.95em;
        cursor: pointer;
        color: var(--c-text);
    }

    .checkbox-custom:checked + label {
        color: grey;
    }

    /* checkbox aspect */
    .checkbox-custom:not(:checked) + label:before,
    .checkbox-custom:checked + label:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 1.25em;
        height: 1.25em;
        border: 2px solid lightgrey;
        background: #fff;
        border-radius: 30%;
        box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    }

    /* checked mark aspect */
    .checkbox-custom:not(:checked) + label:after,
    .checkbox-custom:checked + label:after {
        content: "\2713\0020";
        position: absolute;
        top: 0.15em;
        left: 0.22em;
        font-size: 0.9em;
        font-weight: bold;
        line-height: 1;
        left: 5px;
        top: 3px;
        color: white;
        transition: all 0.2s;
        font-family: "Lucida Sans Unicode", "Arial Unicode MS", Arial;
    }

    /* checked mark aspect changes */
    .checkbox-custom:not(:checked) + label:after {
        opacity: 0;
        transform: scale(0);
    }

    .checkbox-custom:checked + label:after {
        opacity: 1;
        transform: scale(1);
    }

    /* disabled checkbox */
    .checkbox-custom:disabled:not(:checked) + label:before,
    .checkbox-custom:disabled:checked + label:before {
        box-shadow: none;
        border-color: #bbb;
        background-color: #ddd;
    }

    .checkbox-custom:disabled:checked + label:after {
        color: #999;
    }

    .checkbox-custom:disabled + label {
        color: black;
    }

    /* accessibility */
    .checkbox-custom:checked:focus + label:before,
    .checkbox-custom:not(:checked):focus + label:before {
        border: 2px dotted blue;
    }
}
