@import "../../../../styles/_variables";

.GlobalSearchBar input {
    cursor: pointer;
}

.GlobalSearchBar-overlay {
    transition: all 0.3s ease;
    background-color: $c-bg-overlay;
    height: 100%;
    // never cover the fucking navbar
    top: $navbar-height;
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    z-index: 1000;
}

.GlobalSearchBar-overlay .results {
    overflow: auto;
    height: calc(100% - 100px);
}

.GlobalSearchBar-overlay .results img {
    max-height: none;
}

.GlobalSearchBar-overlay .nav-cover {
    background-color: var(--c-secondary-navbar);
    height: $navbar-height;
    display: flex;
    align-items: center;
    justify-content: center;
}

.GlobalSearchBar-overlay .form-case {
    display: flex;
    width: 100%;
    align-items: center;
}

.GlobalSearchBar-overlay .control {
    width: 100%;
    height: 100%;
}

.GlobalSearchBar-overlay .control .input {
    // regular font weight for typog. hierarchy
    //@extend %bold;
    background-color: transparent;
    width: 100%;
    height: 100%;
    color: var(--c-title);
    border: 0;
    padding: 0.8rem;
    font-size: 1.2rem;
    box-shadow: none;
}

.GlobalSearchBar-overlay .control .input::placeholder {
    color: $c-gray;
}

.GlobalSearchBar-overlay .control.is-loading::after {
    top: 1.3rem;
}

.GlobalSearchBar-overlay .results {
    animation: fadein 0.3s ease;
    margin-top: 20px;
    font-family: $font;
    flex-direction: column;

    h3 {
        color: white;
    }
}

.GlobalSearchBar-overlay .title {
    margin-top: 10px;
    color: white;
    margin-bottom: 10px;
}
