@import "../../styles/_variables";

// TODO MOVE THIS

.DiscussionsPage {
    .container.grid-c-s {
        margin-top: $gap;
    }

    .ItemHeading.TimeAgo {
        margin-left: 5px;
    }

    .ReplyForm {
        .form-row {
            flex-grow: 1;
            margin-bottom: 0px !important;
        }

        textarea {
            background: transparent;
            border: 0;
            outline: 0;
            box-shadow: none;
            width: 100% !important;
            min-height: 100px;
            resize: vertical !important;
            display: block;
        }

        .action-container {
            margin-top: 20px;
        }
    }

    .ThreadTypeSelect {
        @extend %bold;
        @extend %corners;
        padding: 10px;
        border: 2px solid var(--c-bg-light);
        display: inline-block;
        margin: 3px;
        cursor: pointer;

        &:hover {
            background-color: var(--c-bg-light);
        }

        &.is-selected {
            background: $c-main;
            color: var(--c-lightest);
            border-color: $c-main;
        }
    }

    .SmallThread {
        @extend %corners;
        padding: 5px;

        &:hover {
            background-color: var(--c-bg-light);
        }

        a {
            color: var(--c-title);
        }
    }

    .DiscussionsHero {
        background: $gradient-card;
    }

    .RecentQuestionsList {
        .topic-title {
            margin-bottom: 4px;
        }

        > a > div {
            @extend %corners;
            @extend %transition-bg;
            padding: 10px 5px;

            &:hover {
                background: var(--c-bg-light);
            }
        }
    }

    //[class*="has-text-"] {
    //    font-size: 0.875rem !important;
    //}

    .Reply:not(:first-of-type) {
        //border-top: 1px solid hsla(0, 0%, 85.9%, 0.5);
        //padding-top: $gap;
        //margin-top: $gap;
    }
}

.ThreadMedia {
    cursor: pointer;

    &:first-child {
        margin-top: 0px;
    }

    margin-top: 10px;
}

.ThreadStreamItem {
    padding-top: 1rem;
    padding-bottom: 1rem;
    //border-bottom: 1px solid var(--c-border);
    //cursor: pointer;

    h4 {
        cursor: pointer;
        &:hover {
            text-decoration: underline;
        }
    }

    &:last-of-type {
        margin-bottom: 0px;
        border-bottom: none;
    }

    &:first-of-type {
        padding-top: 0px;
    }
}

.upvote-arrows {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    margin-right: 25px !important;
    color: var(--c-border-light);

    .up,
    .down {
        flex-shrink: 2;
    }
}

.Thread {
    .thread-head {
        margin-bottom: 1rem;
    }

    .thread-actions {
        margin-top: 1rem;
    }

    .thread-body {
        //padding: 1rem;
    }

    .thread-replies {
        h3 {
            margin-bottom: $gap;
        }

        .alert {
            margin-bottom: 10px;
        }

        .Reply {
            padding-bottom: 15px;
            padding-top: 15px;
            //margin-bottom: $gap;
        }

        .ReplyList {
        }
    }
}

.Reply {
    width: 100%;

    .reply-user {
        margin-bottom: 0.5rem;
    }

    .reply-actions {
        //margin-top: 0.5rem;

        div:empty {
            margin-right: 0px;
        }
    }

    .ReplyForm {
        border: 1px solid var(--c-border);
        background-color: var(--c-bg);
        //border-top: 1px solid var(--c-border);
        //padding-top: $gap;
        margin-top: 1rem;
        padding: 1rem;
    }

    .reply-children {
        margin-top: calc(#{$gap} / 2);
        padding-left: 1rem;
        border-left: 1px solid var(--c-border);

        &:empty {
            margin-top: 0px;
        }
    }
}
