@import "../../../../../../styles/_variables";

.StreamCard {
    border-color: transparent;
    box-shadow: none;
    //align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem; // replaces missing .card margin bottom.
    border-bottom: 1px solid var(--c-bg-light);

    &:first-of-type {
        padding-top: 0px;
    }

    > .flex-grow {
        width: 100%;
    }

    &:last-of-type {
        padding-bottom: 0px;
        border-bottom: none;
    }

    &:only-child {
        border-bottom: none;
    }

    .avatar-case {
        margin-right: 20px;
    }

    .card {
        width: 100%;
        margin-bottom: 0px !important;
    }

    .user-info-container {
        //padding-top: 1rem;
        //padding-left: 1rem;
        padding-bottom: 1rem;
        font-size: 14px;
        color: $c-gray;

        .name {
            font-weight: bold;
            color: var(--c-title);
        }
    }

    .tasks-container {
    }

    & .lifelogs {
        margin-top: 10px;
    }

    .card-content,
    header {
        padding: 1rem !important;
    }

    .projects ul > li {
        display: inline-block;
        padding: 0 3px;
    }

    .cardHeaderOptions {
        padding-left: 0.5rem;

        div {
            padding-left: 0.5rem;
        }
    }
}
